<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">We manufacture various range and Models of Automatic Seed Drill &amp; Planter which can use with different types of Tractors and different types of Agriculture Land.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Our Products</a>
            </div>
        </div>
    </div>
</section>
