<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a   class="portfolio-box">
                    <img src="img/products/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mini Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 5 Teeth – 10 Pipe (1+1+1), 34 Inch Double hopper.<br>
                                <b>No. of Rows:</b> 5(five) Also Available in 5 to 7 Rows.<br>
                                <b>Row to Row Spacing:</b> 7 Inch Standard &amp; Adjustable in 1 Inch Ratio.<br>
                                <b>Length of Main Frame:</b> 48 Inch, Increase Length 48 Inch to 76 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-30kg. For Fertilizer-30kg.<br>
                                <b>Weight Approx. in kg.:</b> 160kg.<br>
                                <b>Require of Tractor H.P.:</b> 15 H.P. Onwards.<br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower, Paddy (dry-land) All type of Grains, Cereals &amp; Pulses Seeds.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="portfolio-box">
                    <img src="img/products/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 11 Teeth – 22 Pipe, 63 Inch Double hopper.<br>
                                <b>No. of Rows:</b> 11(Eleven) Also Available in 9, 13 Rows.<br>
                                <b>Row to Row Spacing:</b> 7 Inch Standard &amp; Adjustable in 1 Inch Ratio.<br>
                                <b>Length of Main Frame:</b> 85 Inch, Increase Length 85 Inch to 112 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-50kg. For Fertilizer-55kg.<br>
                                <b>Weight Approx. in kg.:</b> 350kg.<br>
                                <b>Require of Tractor H.P.:</b> 35 H.P. Onwards.<br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower, Paddy (dry-land) All type of Grains, Cereals &amp; Pulses Seeds.<br>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a   class="portfolio-box">
                    <img src="img/products/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 17 Teeth – 34 Pipe, 63 Inch Double hopper.<br>
                                <b>No. of Rows:</b> 17(seventeen) Also Available in 15 to 21 Rows.<br>
                                <b>Row to Row Spacing:</b> 4 Inch Standard &amp; Adjustable in 1 Inch Ratio.<br>
                                <b>Length of Main Frame:</b> 85 Inch, Increase Length 85 Inch to 112 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-50kg. For Fertilizer-55kg.<br>
                                <b>Weight Approx. in kg.:</b> 430kg.<br>
                                <b>Require of Tractor H.P.:</b> 35 H.P. Onwards.<br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower,All type of Grains, Cereals &amp; Pulses Seeds.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a   class="portfolio-box">
                    <img src="img/products/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mini Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 7 Teeth – 14 Pipe, 27 Inch Double hopper.<br>
                                <b>No. of Rows:</b> 7(seven) Also Available in 5 to 9 Rows.<br>
                                <b>Row to Row Spacing:</b> 7 Inch Standard &amp; Adjustable in 1 Inch Ratio.<br>
                                <b>Length of Main Frame:</b> 48 Inch, Increase Length 48 Inch to 76 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-16kg. For Fertilizer-20kg.<br>
                                <b>Weight Approx. in kg.:</b> 180kg.<br>
                                <b>Require of Tractor H.P.:</b> 10 H.P. Onwards.<br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower, Paddy (dry-land) All type of Grains, Cereals &amp; Pulses Seeds.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a   class="portfolio-box">
                    <img src="img/products/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 9 Teeth – 18 Pipe, 48 Inch Double hopper.<br>
                                <b>No. of Rows:</b> 9(nine) Also Available in 7, 11 Rows.<br>
                                <b>Row to Row Spacing:</b> 9 Inch Standard &amp; Adjustable in 1 Inch Ratio.<br>
                                <b>Length of Main Frame:</b> 85 Inch, Increase Length 85 Inch to 112 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-35kg. For Fertilizer-40kg.<br>
                                <b>Weight Approx. in kg.:</b> 310kg.<br>
                                <b>Require of Tractor H.P.:</b> 35 H.P. Onwards.<br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower, Paddy (dry-land) All type of Grains, Cereals &amp; Pulses Seeds.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a   class="portfolio-box">
                    <img src="img/products/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tractor Operated Automatic Seed Cum Fertilizer Drill
                            </div>
                            <div class="project-name">
                                <b>Model:</b> 9 Teeth – 18 Pipe, 63 Inch Double hopper, (1+1+1…..Box) and Spring Type Cultivator.<br>
                                <b>No. of Rows:</b> 7(seven) Also Available in 7 to 11 Rows.<br>
                                <b>Row to Row Spacing:</b> 12 Inch Standard &amp; Adjustable.<br>
                                <b>Length of Main Frame:</b> 85 Inch.<br>
                                <b>Hopper Capacity Approx. in Kg.:</b> For seed-50kg. For Fertilizer-55kg.<br>
                                <b>Weight Approx. in kg.:</b> 300kg.<br>
                                <b>Require of Tractor H.P.:</b> Mini. 35 H.P. Onwards.<br>
                                <b>Extra Facility:</b> Levelling Blade. <br>
                                <b>Which Seed for Sowing:</b> Wheat, Ground-Nut, Cotton Seed, Castor, Garlic, Maize, Cumin Seed, Soya been, Sunflower, Paddy (dry-land) All type of Grains, Cereals &amp; Pulses Seeds.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
